<p>Hello</p>

<p>Thank you for registering with our service. Please verify your email address by clicking the link below:</p>

<p>This link will expire in 24 hours.</p>

<p>If you did not create an account with us, please ignore this email.</p>

<p>Thank you,<br/>The Team</p>
