@model Template.Application.Users.Register.RegisterUserMailModel

<p>Hello</p>

<p>Thank you for registering with our service. Please verify your email address by clicking the link below:</p>

<p><a href="@Model.VerificationLink">Verify Your Email Address</a></p>

<p>If the button above doesn't work, you can copy and paste the following URL into your browser:</p>
<p>@Model.VerificationLink</p>

<p>This link will expire in 24 hours.</p>

<p>If you did not create an account with us, please ignore this email.</p>

<p>Thank you,<br/>
    The Team</p>